* {box-sizing: border-box; margin:0;}

html,body{
  margin: 0;
  height: 100%;
}

#left{
  color: white;
  background-color: blue;
  font-size: 25px;
  border: thin solid black;
  float: left;
  width: 25%;
  height: 100%;


}

#outside{
  font-size: 20px;
  text-align: center;
  width: 75%;
  float: right;
  height: 80%;

}

#top{
border: thin solid black;
background-color: red;
height: 25%;
height: 25%;
}


#inside{
  border: thin solid black;
  height: 100%;
}

#content{
  float: left;
  width: 75%;
  height: 100%;
}

#content_left{
  background-color: yellow;
  border: thin solid black;
  float:left;
  width: 50%;
  height: 50%;
}

#content_right{
  color: white;
  background-color: black;
  border: thin solid black;
  float:right;
  width: 50%;
  height: 50%;
}

#content_bottom{
  border: thin solid black;
  background-color: brown;
  height: 100%;
}


#right{
  background-color: green;
  float: right;
  width: 25%;
  height: 100%;
}
